@import "tailwindcss";

body {
  font-family: var(--font-montserrat);
  margin: 0;
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
